@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

// Views
@import "editProfile";
@import "login-register";
@import "nav";
@import "search";

* {
    font-family: "Nunito", sans-serif;
}
.container {
    padding-top: 4rem;
}

.container-card {
    padding-bottom: 64px;
}

.nav {
    .nav-link {
        color: black !important;
    }

    .active {
        color: white !important;
    }
}

a {
    color: white;
}

.btn-primary {
    background-color: #078080;
    border: none;
}

.btn:hover {
    background-color: #0a5a5a;
}

.stretchy {
    width: 260px;
    height: 150px;
}
