@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

// Views
@import "editProfile";
@import "login-register";
@import "nav";
@import "search";

* {
    font-family: "Nunito", sans-serif;
}
.container {
    padding-top: 4rem;
}

body {
    color: #565656;
}

.bg-dark {
    background-color: #204051 !important;
}
.container-card {
    padding-bottom: 64px;
}

.nav {
    .nav-link {
        color: black !important;
    }

    .active {
        color: white !important;
    }
}

.buddies {
    color: #007bff !important;
}

.text-black {
    color: black;
}

a {
    color: white;
}

.nav-link .img-nav {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.btn-primary {
    background-color: #204051;
    border: none;
}

.btn-primary:active, .btn-primary:focus {
    background-color: #204051 !important;
    border: none;
}

.btn:hover {
    background-color: #0f232E;
}

// .stretchy {
//     width: 260px;
//     height: 150px;
// }

// LOGIN - REGISTER
.btn-color:hover {
    background-color: #0f232E;
    color: #ffffff;
}