@import url(https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap);.main-head {
    height: 150px;
    background: #fff;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 80%;
    }

    .register-form {
        margin-top: 20%;
    }
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;

    h2 {
        font-weight: 300;
    }
}

.btn-black {
    background-color: #000;
    color: #fff;
}
.link {
  text-decoration: none;
  color: #000;

  :hover {
      text-decoration: none;
      color: #000;
  }
}

.navbar.bg-light .form-control {
  border-radius: 4.25rem;
}

.dropdown-menu {
  margin-right: 5px;
}

.badge {
  background: #fff;
  display: inline-block;
  padding: 0 5px;
  margin-left: 3px;
  color: #000;
  border-radius: 20px;
}

.redBadge {
  background-color: #e3342f;
  color: #fff;
  display: inline-block;
  padding: 0 5px;
  margin-left: 3px;
  border-radius: 20px;
}
.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 5px;
}
.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 5px;
}

.has-search {
  padding-bottom: 2em;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f8f5f2;
}

a {
  text-decoration: none;
  color: #fff;
}

a :hover {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.btn-primary {
  background-color: #078080;
  border: none;
}

.btn-primary :hover,
.btn-primary :focus {
  background-color: #0a5a5a;
}

.check-buddies {
  color: black;
  text-decoration: underline;
}

.container {
  padding: 0px;
  margin: 0 auto;
}

.container-top,
.container-fluid {
  margin-top: 15px;
}

.col-3 {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.row-table {
  margin-bottom: 25px;
}

.img-container {
  width: 292px;
  height: 292px;
  overflow: hidden;
}

.stretchy {
  width: 100%;
}

